body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

div.input {
    float: left;
    margin-right: 40px;
}

div.output {
    float: left;
    display: none;
}

div.output table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

div.output table th, div.output table td {
    border: 1px solid #ccc;
    padding: 5px;
}

div.output table th {
    background-color: #eee;
}

div.output table td.error {
    background-color: #f7d5d8;
    color: #770f00;
}

div.output table tbody {
    font-family: 'Courier New', monospace;
    font-size: 12px;
}